.header-with-shadow {
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.2);
  z-index: 10;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--whiteColor);
  .header-home-container {
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    /* margin-left: 1em; */
    cursor: pointer;
  }

  // .fOUBWt {
  //   margin-right: 1rem;
  //   min-width: 144px;
  //   .ccXjUN {
  //     justify-content: flex-end !important;
  //   }
  // }

  .EthAddress__StyledWrapper-sc-1ulrvjg-1 {
    margin-right: 1rem;
  }
}

$information-phone: "only screen and (max-width : 464px)";
$information-pad: "only screen and (max-width : 1024px) and (min-width: 464px)";
@media #{$information-phone} {
  .profile-item {
    font-size: 14px !important;
  }
}

@media #{$information-pad} {
  .profile-item {
    font-size: 14px !important;
  }
}
